@import "../../main.scss";

.faq {
    background-color: $background-white;
    min-height: 30rem;
    padding: 2rem 1.5rem;

    h2 {
        padding-bottom: 0.5rem;
        margin: 0 20% 1rem;
        border-bottom: 1px solid black;
    }

    &__flex {
        display: flex;
    }

    &__left,
    &__right {
        width: 50%;
        padding: 1rem;
    }

    &__day-list {
        list-style: none;
        padding: 0;
        margin: 0;

        h3 {
            margin: 0;
            padding: 1.5rem 0 0.5rem;
        }

        li {
            padding: 1rem 0;
        }
    }
}