.story {
    padding: 2rem 1.5rem;
    background-color: #FFFFFC;


    h2 {
        margin-bottom: 3rem;
    }
    
    &__flex {
        display: flex;
    }

    &__text {
        text-align: left;
        padding-right: 3rem;
    }

    &__image-wrapper {
        min-width: 30%;
        max-height: 100%;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: auto;
        max-height: 550px;
        object-fit: cover;
    }

    p:first-child {
        margin-top: 0;
    }
}