@import "../../main.scss";

.story {
    padding: 2rem 1.5rem;
    background-color: $background-white;


    h2 {
        margin-bottom: 3rem;
    }
    
    &__flex {
        display: flex;

        @media screen and (max-width: $small-view-cutoff) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        text-align: left;
        padding-right: 3rem;

        @media screen and (max-width: $small-view-cutoff) {
            padding: 3rem 0 0;  
        }
    }

    &__image-wrapper {
        min-width: 30%;
        max-height: 100%;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: auto;
        max-height: 550px;
        object-fit: cover;

        @media screen and (max-width: $small-view-cutoff) {
            height: 15rem;
            
        }
    }

    p:first-child {
        margin-top: 0;
    }
}