.header {
    display: flex;
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
}

.header h1 {
    flex-grow: 2;
    text-align: left;
    font-size: 3rem;
}

.header__links {
    display: flex;
}

.header a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}