@import "../../main.scss";

.basic-info {
  background-color: $background-white;
  padding: 4rem 1rem;

  &__info-group {
    padding: 1.5rem 0;

    @media screen and (max-width: $small-view-cutoff) {
      padding: 0.5rem 0;
    }
  }

  &__welcome-heading {
    // font-family: 'Pinyon Script';
    font-size: 1.5rem;
    padding-top: 4rem;
  }
}
