.App {
  text-align: center;
  position: relative;
  background-color: #FFFFFC;
}

.body {
  max-width: 1600px;
  margin: 0 auto;
}

.divider {
  width: 80%;
  border-top: 1px solid gray;
  margin: auto auto;
}
