@import 'main';

.App {
  text-align: center;
  position: relative;
  background-color: $background-white;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.body {
}
