@mixin animateUnderline() {
  position: relative;
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;

    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

@mixin inverseAnimateUnderline() {
  position: relative;
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;

    &:before {
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

$background-white: #FFFFFC;

$small-view-cutoff: 991px;

$background-image-1: url("https://drive.google.com/uc?id=1FT-Hwfxs0pSZMBIB8pFsCHBA1_MfRLYs");
$background-image-2: url("https://drive.google.com/uc?id=1PlC9Nh-HC7QGSewGe_t6nIFxKf_njN9Q");
$background-image-3: url("https://drive.google.com/uc?id=1BnkUsprqW1BWU8Kd1Dne_zs-IWLrJmhe");
$background-image-4: url("https://drive.google.com/uc?id=1Jx4Wvf84q8irKYlOqeEkgitPPOQ9a6HO");
$background-image-5: url("https://drive.google.com/uc?id=152uNmGD5pC8lORjk6Wpp40KmVFODUJ7M");

$places-to-stay-0: url("https://drive.google.com/uc?id=15TtgfGHBq3usLNsfmVmYwH9mEQSoTokN");

$story-0: url("https://drive.google.com/uc?id=1eS6-rHX8nPqNA5xJ68F8t59aPDeRNPPh");
$story-1: url("https://drive.google.com/uc?id=1wANaHlWHhLu0CMNDUYN3o4hSAAk0Yaw6");

$things-0: url("https://drive.google.com/open?id=19efL4uFUz9D9-CIrq45P9c8NMK2RhCQ3");